<div class="columns is-centered mt-6">
  <div class="colunm is-one-third">
     <h1 class="is-size-2 has-text-weight-bold mb-3">Edit Reminder</h1>
        <%= render 'form', reminder: @reminder %>
    </div>
</div>
<div class="card-footer">
<%= link_to 'Show', @reminder, class: "card-footer-item" %>
<%= link_to 'Back', reminders_path, class: "card-footer-item" %>
</div>
